<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Agenda.DAO.Properties.Settings.banco" connectionString="server=localhost;user id=root;password=giuriollo;database=dbtatuagem"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>